<div class="credit">
	<div class="container"><br><br><br><hr class="featurette-divider"/>
		<div class="row-fluid">
			<div class="span6">
				<p>The ASTOUND Initiative is led by CFC Media Lab in partnership with Hot Docs, and OCADU. ASTOUND is made possible through The Entertainment and Creative Cluster Partnerships Fund administered by the Ontario Media Development Corporation (OMDC) on behalf of the Ministry of Tourism, Culture, and Sport.</p>
			</div>
			<div class="span6 leadpartners"><img class="pull-left" src="/css/images/cfcml.png" height="100" width="92"><img class="pull-left" src="/css/images/hotdocs.png" height="100" width="158"><img class="pull-left" src="/css/images/ocadu.png" height="100" width="101"><img class="pull-left" src="/css/images/omdc.png" height="100" width="153">
			</div>
		</div>
		<div class="row-fluid tertpartners">
			<div class="span12">
				<p><strong>Tertiary Partners</strong>: Achilles Media, Canadian Media Production Association, Interactive Ontario, MaRS Discovery District, Nordicity, Seneca College, Summerwood Group Inc., University of Waterloo – Stratford Campus, Toronto International Film Festival, Wesley Clover International, and Women In Film and Video – Toronto. In collaboration with: National Angel Capital Organization, Network of Angels – Ontario and Maple Leaf Angels.</p>
			</div>
		</div>
		<hr class="featurette-divider"/>
		<footer>
			<p class="pull-right"><a href="#"><i class="icon-circle-arrow-up"></i> Top of page</a></p>
			&copy; 2013-<%= date(new Date(), 'YYYY') %> <%= config.title %><br>Made in <a href="//github.com/johnko" target="_blank"><img alt="Canada, eh!" src="/css/images/canada.png"></a>
		</footer>
	</div>
</div>
<%- js('vendor/bootstrap/bootstrap.min') %>
<%- js('vendor/bootstrap/bootstrap-switch') %>
<%- js('vendor/bootstrap/navigation.js') %>
